@model Coloc.Models.Logbooks

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>Logbooks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AspNetUserId" class="control-label"></label>
                <select asp-for="AspNetUserId" class ="form-control" asp-items="ViewBag.AspNetUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Moment" class="control-label"></label>
                <input asp-for="Moment" class="form-control" />
                <span asp-validation-for="Moment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eventdescription" class="control-label"></label>
                <input asp-for="Eventdescription" class="form-control" />
                <span asp-validation-for="Eventdescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
