@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Application ASP.net core développée par Julien Richoz dans la cadre du module ASP au CPNV-ES 2019.</p>
