@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Julien Richoz<br />
    SI-T2a<br />
    <abbr title="Phone">P:</abbr>
    012.345.67.89
</address>

<address>
    <strong>Support:</strong> <a href="mailto:julien.richoz@cpnv.ch">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:julien.richoz@cpnv.ch">Marketing@example.com</a>
</address>
