@model Coloc.Models.Todos

@{
    ViewData["Title"] = "Create";
}

<h2>Créer</h2>
<h4>Todos</h4>
<hr />
<div class="row" style="position:relative">
    <div class="col-md-4">
        <form asp-action="Create" id="todo-create-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" id="todo-create-title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" id="toto-create-description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id ="todo-create-submit" type="submit" value="Créer" class="btn btn-success disabled" disabled/>
            </div>
        </form>
    </div>
    <a asp-action="Index" style="position:absolute; bottom:15px; right:15px;" class="btn btn-warning">Retour aux Todos</a>
</div>

<environment include="Development">
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <script src="~/js/tasksTodo.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

</environment>

    