@model Coloc.Models.Todos

@{
    ViewData["Title"] = "Edit";
}

<h2>Modifier</h2>

<h4>Todos</h4>
<hr />
<div style="position:relative" class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-success" />
            </div>

        </form>
    </div>
    <a asp-action="Index" style="position: absolute; bottom: 15px; right:15px;" class="btn btn-warning">Retour aux Todos</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
