@model Coloc.Models.Tasks

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Modifier</h2>

<h4>Tasks</h4>
<hr />
<div style="position: relative;" class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TodoId" class="control-label">Todo</label>
                <select asp-for="TodoId" class="form-control" asp-items="ViewBag.TodoId"></select>
                <span asp-validation-for="TodoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label">Tâche</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-success" />
            </div>
        </form>
    </div>
    <a asp-controller="Todos" asp-action="Details" asp-route-id="@Model.TodoId" style="position: absolute; bottom: 15px; right:15px;" class="btn btn-warning">Retour aux Todos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
